body {
    background-color: #EBEDF2;
}
table {
    margin-left: auto;
    margin-right: auto;
    width: 1188px;
    font: 14px Graphik, Helvetica, Ariel, sans-serif;
    line-height: 1.5;
}

td > a, #legalLinks > a, #legalContainer > p{
    color: #656B7B;
    text-decoration: none;
    padding: 0px 32px 8px 0px;
    font-size: 14px;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
}

th {
    text-align: left;
    color: #262930;
}

hr {
    margin-top: 80px;
    width: 1188px;
}

#legalLinks, #favicons, #legalContainer > p {
    float: left;
}

#legalContainer > p {
    margin-top: 5px;
    margin-bottom: 0px;
}

#favicons > a {
    padding-right: 32px;
}

#legalContainer {
    margin-left: auto;
    margin-right: auto;
    width: 1188px;
    font-size: 12px;
}

#legalLinks > a {
    font-size: 12px;
    padding-right: 19px;
}

/*Masthead code*/
#backgroundContainer {
    width: 100%;
    height: 640px;
    background-position: right top;
    background-size: cover;
    overflow: hidden;
    background-image: url("./assets/homepage_Masthead.jpg");
    color: white;
    text-align: center;
}

#loginBtn {
    background: none;
    border: none;
    position: absolute;
    top: 60px;
    right: 60px;
    font-size: 14px;
    font-weight: bold;
}

#loginBtn :hover{
    color: lightgrey;
}

#freeTrialBtn {
    width: 261px;
    height: 56px;
    border-radius: 5px;
    border: none;
    background: white;
    font-size: 14px;
    font: Arial;
}

#freeTrialBtn:hover{
    filter: alpha(opacity=80);
    cursor: pointer;
}

button > a {
    font-family: 'Graphik',Helvetica,Arial,sans-serif;
    text-decoration: none;
    color: white;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
}

#huluLogo {
    width: 268px;
    height: 90px;
    vertical-align: middle;
}

h3 {
    font-size: 12px;
    color: #2DBD9D;
    margin-bottom: 25px;
}

h1 {
    font-size: 22px;
    font-family: 'Graphik',Helvetica,Arial,sans-serif;
}

h2 {
    font-size: 16px;
    font-family: 'Graphik',Helvetica,Arial,sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

#legalText {
    font-size: 10px;
    font-family: 'Graphik',Helvetica,Arial,sans-serif;
    font-weight: normal;
    line-height: 16px;
    opacity: 0.6;
    -webkit-font-smoothing: antialiased;
}
#spacer1 {
    margin-top: 225px;
}

#ribbonContainer {
    background: linear-gradient(318.68deg, #0F495C 0%, #0D3640 49.72%, #08141F 100%);
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

#ribbonContainer > img {
    width: 307px;
    height: 69px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 200px;
}

#bundleTextFlex {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bundleTextFlex > h3 {
    margin: 0px;
    font-size: 12px;
}

#bundleTextFlex > h1, #bundleTextFlex > a {
    color: white;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
}

#bundleTextFlex > a {
    opacity: 0.7;
}

#bundleTextFlex > h1{
    font-size: 24px;
}

#bundleButtonFlex {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#bundleButtonFlex > button {
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 1);
    background: transparent;
    width: 169px;
    height: 56px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    font: Arial;
}

#bundleButtonFlex > a {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    opacity: 0.7;
    -webkit-font-smoothing: antialiased;
}

/*now on Hulu*/

#nowOnHulu {
    width: 80%;
    height: auto;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

#nowOnHulu > img {
    width: 100%;
    height: auto;
}

/*Plan Options*/

#planOptions {
    background-color: white;
    width: 100%;
}